/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background-color: #343640; /* Dark mode background */
  color: #FFF; /* Light text color for dark mode */
  transition: all 0.3s ease;
  overflow-x: hidden;
}

.chatbot {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;/* Make sure the input area stays at the bottom */
  width: 768px;
  max-width: 768px;
  max-height: 100vh;
  background-color: transparent; /* Remove the background */
  margin-top: 60px;
  position: relative;
  z-index: 1;
}

/* Header for the app name */
.chatbot-header {
  width: 100%;
  position: fixed; /* Changed from relative to fixed position */
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left of the viewport */
  z-index: 1000; /* High z-index to ensure the header is above other content */
  background-color: #0e2d41; /* Primary color for the header */
  color: #FFF;
  font-family: 'Poppins', Arial, sans-serif; /* Use Poppins with Arial as fallback */
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,.3); /* Add shadow for depth (optional) */
}

.messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Left align messages */
}

.message {
  margin-bottom: 10px;
  line-height: 1.4;
  word-wrap: break-word;
  animation: slideUpAndFade 0.3s ease-out;
}

.message.user {
  align-self: flex-start;
  background-color: #0e2d41; /* Primary color for user messages */
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 10px 10px 0 10px;
}

.message.bot {
  align-self: flex-start;
  background-color: #3d3d3d; /* Slightly lighter color for bot messages */
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 10px 10px 10px 0;
}

.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ffd361; /* Make border yellow */
}

.input-area input {
  flex-grow: 1;
  border-radius: 5px;
  padding: 10px; /* Increase padding to make input larger */
  outline: none;
  background-color: transparent; /* Make input transparent */
  color: #ffffff;
  border: 1px solid #ffd361; /* Make border yellow */
  margin-right: 5px; /* Add space between input and button */
}

.input-area input:focus {
  border-color: #ffd361; /* Yellow border on focus */
}

.input-area button {
  background-color: #ffd361; /* Secondary color for send button */
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; /* Increase padding to make button larger */
  cursor: pointer;
}

.input-area button:hover {
  background-color: #ffd361; /* Yellow background on hover */
}

@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media query for tablets */
@media (max-width: 768px) {
  .chatbot {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  /* Additional stylings for tablet responsiveness if needed */
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .chatbot {
    width: 100%;
    margin-bottom: 0;
  }
  .message {
    font-size: smaller;
  }
  .input-area {
    flex-direction: column;
    align-items: stretch;
  }
  .input-area input,
  .input-area button {
    width: 100%;
    margin: 2px 0; /* Small margin between input and button on small devices */
  }
  /* Additional stylings for mobile responsiveness if needed */
}
