/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start; /* Align children to the start */
  align-items: stretch; /* Stretch children to fill the container height */
  height: 100vh;
  background-color: #343640;
  color: #FFF;
  overflow-x: hidden;
}

.chat-container {
  display: flex;
  width: 100vw; /* Use viewport width to ensure it covers the entire width */
  height: 100vh; /* Use viewport height to ensure it covers the entire height */
}

.chatbot {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 50%; /* Half the width */
  background-color: #2c2c2c; /* A visible color different from body background */
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.left-side {
  width: 50%; /* Adjust as needed */
  padding-top: 100px; /* Space from the top */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text to the left */
  padding-left: 50px; /* Space from the left side */
  color: #FFF; /* Default text color */
  font-family: 'Poppins', sans-serif;
  background-color: #0e2d41;
}

.app-name {
  font-size: 100px;
  color: #ffd361;
  margin: 0; /* Removes default margin */
}

.app-description {
  font-size: 50px; /* Half the size of the app name */
  margin: 20px 0; /* Adjust the space around the description */
}

.example {
  margin: 20px 0; /* Space between examples */
  border: 1px solid #ffd361;
  border-radius: 15px; /* Rounded corners */
  padding: 10px; /* Padding inside the boxes */
}

.example p {
  margin: 0; /* Removes default paragraph margin */
  color: white;
  font-size: 1.1em;
}

.messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Left align messages */
  justify-content: flex-end;
}

.message {
  margin-bottom: 10px;
  line-height: 1.4;
  font-size: 1.1em;
  word-wrap: break-word;
  animation: slideUpAndFade 0.3s ease-out;
}

.message.user {
  align-self: flex-start;
  background-color: #0e2d41; /* Primary color for user messages */
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 10px 10px 0 10px;
}

.message.bot {
  align-self: flex-start;
  background-color: #3d3d3d; /* Slightly lighter color for bot messages */
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 10px 10px 10px 0;
}

.input-area {
  display: flex;
  padding: 10px;
  position: static;
}

.input-area input {
  flex-grow: 1;
  border-radius: 5px;
  padding: 10px; /* Increase padding to make input larger */
  outline: none;
  background-color: transparent; /* Make input transparent */
  color: #ffffff;
  border: 1px solid #ffd361; /* Make border yellow */
  font-size: 1.1em;
  margin-right: 5px; /* Add space between input and button */
}

.input-area input:focus {
  border-color: #ffd361; /* Yellow border on focus */
}

.input-area button {
  background-color: #ffd361; /* Secondary color for send button */
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 15px 30px; /* Increase padding to make button larger */
  cursor: pointer;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Poppins', sans-serif; /* Set Poppins as the font family */
  font-weight: 700; /* 700 weight for bold */
}

.input-area button:hover {
  background-color: #ffd361; /* Yellow background on hover */
}

@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media query for tablets */
@media (max-width: 768px) {
  .chatbot {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  /* Additional stylings for tablet responsiveness if needed */
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .chatbot {
    width: 100%;
    margin-bottom: 0;
  }
  .message {
    font-size: smaller;
  }
  .input-area {
    flex-direction: column;
    align-items: stretch;
  }
  .input-area input,
  .input-area button {
    width: 100%;
    margin: 2px 0; /* Small margin between input and button on small devices */
  }
  /* Additional stylings for mobile responsiveness if needed */
}
